* {
    margin: 0;
    padding: 0;
}

.contenedor{
    background-color: rgb(65, 64, 64);
    color: white;
    width: 500px;
    height: 500px;
    position: relative;
    border: 4px solid rgb(105, 105, 217);
}
.contenedor:hover{
    
    .caja-1{
        top: 30px;
        left: 30px;
    }
    .caja-2{
        top: 30px;
        right: 30px;
    }
    .caja-3{
        bottom: 30px;
        left: 30px;
    }
    .caja-4{
        bottom: 30px;
        right: 30px;
    }
}
.caja{
    width: 70px;
    height: 70px;
    padding: 25px;
    position: absolute;
    border: 3px dashed;
    text-align: center;
}
.caja-1{
    background-color: rgb(180, 30, 105);
    top: 0;
    left: 0;
}
.caja-2{
    background-color: rgb(236, 141, 34);
    top: 0;
    right: 0;
}
.caja-3{
    background-color: rgb(30, 180, 30);
    bottom: 0;
    left: 0;
}
.caja-4{
    background-color: rgb(41, 111, 201);
    bottom: 0;
    right: 0;
}