* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@keyframes change-color {
  from { color: rgb(16, 111, 236); }
  to { color: rgb(235, 114, 15); }
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #2c3e50;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px black;

    .logo {
        color: rgb(102, 102, 235);
        animation: change-color 2s infinite alternate;
    }

    .main-menu {
        display: flex;
        gap: 20px;
        align-items: center;

        :first-child:hover {
            text-shadow: 1px 1px 0.5px black;
        }


        .submenu {
            display: block;
            background-color: #ffffff;
            position: absolute;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 1px;
            padding: 10px;
            transition: transform 0.3s ease;
            transform-origin: top;
            transform: scale(1.0, 0.0);
        }

        .menu-item-has-submenu:hover .submenu {
            display: block;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            transform: scale(1.0, 1.0);

            li:hover {
                text-shadow: 1px 1px 0.5px black;
            }
        }
    }

}

.popular-destinations {
    
    h2{
        margin-top: 50px;
    }

    .destinations-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;

        .destination-card {
            background-color: #ffffff;
            border-radius: 10px;
            border: 1px solid #cccccc;
            overflow: hidden;
            width: 300px;
            transition: transform 0.3s ease;
            cursor: pointer;
            padding: 20px;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 1px 10px black;
            }
        }
    }
}





footer {
    background-color: #223b57;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;

    .social-links {
        display: flex;
        gap: 15px;
        padding: 10px;
        font-weight: bold;

        a {
            color: #fff;
            transition: color 0.3s ease;

            &:hover {
                color: #f7ae05;
                text-shadow: 1px 1px 3px black;
            }
        }
    }
}