@layer base;

body {
  font-family: "Roboto", "sans-serif";
  color: white;
  background-color: red;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
