@layer components;

.product-card {
  border-radius: 10px;
  overflow: hidden;
  width: min(90vw, 380px);
  padding: calc(1.5rem + 2px);
  background-color: lch(20% 0.03 250);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card-title {
    font-size: clamp(1.5rem, 5vw, 2.2rem);
    color: hwb(180 30% 10%);
    font-family: "Orbitron", sans-serif;
  }

  .card-description {
    opacity: 50%;
  }

  .card-image-container img {
    transform: scale(1.1) rotate(-3deg);
    transition: transform 0.3s ease;
  }

  &:hover .card-image-container img {
    transform: scale(1) rotate(0);
  }
  &:hover {
    box-shadow: 0px 0px 35px color-mix(in hwb, hwb(180 10% 10%), white);
    filter: contrast(1.1);
  }

  .card-button {
    display: flex;
    justify-content: center;
    margin-left: calc((1.5rem + 2px) * -1);
    margin-bottom: calc((1.5rem + 2px) * -1);
    margin-right: calc((1.5rem + 2px) * -1);
    padding: 15px;
    cursor: pointer;
    background: linear-gradient(to right, red, blue);
    color: color-mix(in hwb, hwb(180 30% 10%), white);
    font-family: "Orbitron", sans-serif;
    transition: filter 0.3s ease, transform 0.3s ease;

    &:hover {
      filter: brightness(1.8) contrast(1);
    }
  }
}
