* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
    background-color: #b7b6b4;
}
header {
    background-color: #333;
    color: #f6f2f2;
    text-align: center;
    padding: 15px;
    width: 100%;
    clear: both;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: white;
    margin-top: 20px;
}
nav ul {
    margin: 20px;
}
nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
main{
    padding: 20px;
    float: left;
    width: 60%;
}
.contenedor{
    max-width: 1200px;
    min-width: 700px;
    overflow: auto;
    margin: 0 auto;
    text-align: left;
}

main article{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
main article h2{
    margin-bottom: 15px;
}
main article h3{
    margin-bottom: 15px;
}
main article p{
    margin-bottom: 15px;
}

main article p + h3 + p{
    margin-bottom: 10px;
    font-style: italic;
    color: rgb(105, 104, 104);
}
form{
    padding: 10px;
}
input{
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}
textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: rgb(33, 132, 253);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: grey;
    cursor: pointer;
}
aside{
    float: right;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    width: 30%;
}
aside h3{
    border-bottom: 3px solid rgb(46, 174, 216);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
aside ul li{
    list-style: none;
}
aside p{
    font-style: italic;
    margin-bottom: 10px;
    color: rgb(105, 104, 104);
}
aside li{
    padding: 3px;
}
aside li a{
    text-decoration: none;
}
.articulo2{
    clear: both;
    margin-top: 20px;
    border-left: 6px solid green;
    padding: 30px;
}
.articulo2 h2{
    margin-bottom: 20px;
}
.articulo2 h2 + p{
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dotted grey;
}
.articulo2 ul{
    padding-left: 10px;
    margin-bottom: 10px;
}
.articulo2 ul li::before{
    content: "✔️";
}
.articulo2 ul li:nth-child(4):before{
    content: "➡️";
}
.articulo2 ul :nth-child(2){
    color:red;
}
.articulo2 ul :nth-child(4){
    list-style: none;
    color: blue;
}
.articulo2 ul ~ p{
    padding: 20px;
    background-color: rgb(235, 233, 233);
    border-radius: 10px;
    border: 1px solid rgb(175, 174, 174);
    margin-bottom: 30px;
}
.articulo2 a{
    background-color: rgb(137, 137, 137);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.articulo2 a::after{
    content:" (Mas detalles)";
    font-size: small;
}
footer {
    background-color: #333;
    color: #f6f2f2;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: 50px;
    clear: both;
}

