:root {
  --color-boton: #007bff;
  --color-texto: #4d4c4c;
  --color-titulos: #252525;
  --color-fondo: rgb(231, 229, 229);
  --fondo-card: white;
  --padding-general: 15px;
  --fuente-principal: Arial, sans-serif;
  --radio-borde: 8px;
  --box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-boton: #007bff;
    --color-texto: #848282;
    --color-titulos: #007bff;
    --color-fondo: rgb(34, 33, 33);
    --fondo-card: rgb(44, 44, 44);
    --box-shadow: 0px 2px 5px rgb(187, 187, 187);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  :where(h1, h2) {
    color: var(--color-titulos);
  }

  h1 {
    text-align: center;
  }

  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.card-container {
  display: grid;
  padding: var(--padding-general);
  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo-card);
    border-radius: var(--radio-borde);
    box-shadow: var(--box-shadow);

    .button {
      background-color: var(--color-boton);
      color: white;
      padding: 10px;
      border-radius: var(--radio-borde);
      border: none;
      text-decoration: none;
    }

    .button:hover {
      background-color: #a4a4a4;
    }

    :is(h2, h3) {
      margin-top: 10px;
      font-size: larger;
    }

    .card-content {
      padding: 20px;
    }
  }

  :has(img) {
    overflow: hidden;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  .card:not(.featured) {
    border: 2px solid rgb(114, 113, 113);
  }
}

@media (width < 600px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}

@media (min-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}

@media (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
}

@media (prefers-reduced-transparency: reduce) {
  .card {
    --box-shadow: 0 2px 3px rgba(0, 0, 0, 0.195);
  }
}

@media (prefers-contrast: more) {
  .card {
    --box-shadow: 0 3px 10px rgb(40, 58, 220);
  }
}

@media (prefers-contrast: less) {
  .card {
    --box-shadow: 0 3px 10px rgb(107, 117, 208);
  }
}
