@import url(gallery.css) layer(gallery);

:root {
  --color-titulos: #252525;
  --color-fondo: rgb(87, 111, 243);
  --padding-general: 15px;
  --margin-general: 20px;
  --fuente-principal: Arial, sans-serif;
  --radio-borde: 8px;
  --box-shadow: 0px 2px 10px rgb(0, 0, 0);
  --textColor: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  padding: var(--padding-general);
}

footer {
  display: block;
  text-align: center;
  background-color: var(--color-fondo);
  padding: var(--padding-general);
}

header {
  display: block;
  text-align: center;
  background-color: var(--color-fondo);
  padding: var(--padding-general);
}
