@layer base;
:root{
    --color-titulos: blue;
    --fuente-principal: Arial, sans-serif;
    --borde: 0.5rem;
    --sombra: 0px 2px 10px rgb(0, 0, 0);
    --duracion-animacion: 0.5s;
    --duracion-transicion: 0.3s;
    --color-fondo: rgb(222, 222, 222);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-fondo);

  & :is(h1,h2,h3){
    color: var(--color-titulos);
  }

  & :where(header, footer, main, aside){
    padding: 1rem;
  }
}
