@layer components;

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 30px;

  a {
    color: blue;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    color: black;
  }

  .submenu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 1px;
    padding: 10px;
    transition: transform 0.3s ease;
    transform-origin: top;
    transform: scale(1, 0);
    list-style: none;
    z-index: 50;
  }

  .has-submenu:hover .submenu {
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    transform: scale(1, 1);

    li:hover {
      text-shadow: 1px 1px 0.5px black;
    }
  }
}
#menu-toggle {
  display: none;
}
.hamburger-menu {
  display: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 32px;
  padding: 8px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;

  transition: all 0.35s ease-in-out;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background: #2023e7;
  border-radius: 3px;

  transition: all 0.35s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 214, 214);
  border: 0.15rem solid black;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px black;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
  }

  .card-content {
    .button {
      margin: 0.8rem;
      color: white;
      display: inline-block;
      border-radius: 0.2rem;
      text-decoration: none;
      background-color: rgb(41, 104, 214);
      padding: 0.6rem;
      transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease, transform 0.25s ease;
    }
    .button:hover {
      background-color: rgb(8, 65, 163);
      color: #ffffff;
      transform: translateY(-3px);
    }

    :is(h2, p) {
      margin: 0.8rem;
    }
  }
}
.card:hover {
  transform: translateY(-8px) scale(1.01);
  box-shadow: 0px 10px 30px black;
  height: auto;
}

.card:has(img):has(.card-content) .card-content {
  border-top: 3px solid black;
  padding-top: 1.2rem;
}

.card:not(.featured):has(.card-content) .card-content {
  border-top: 3px solid red;
}
