main {
  container-type: inline-size;
  container-name: main-container;
  padding: 1.5rem;
}
aside {
  container-type: inline-size;
  container-name: aside-container;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 235, 235);
  box-shadow: 1px 1px 3px rgb(155, 155, 155);

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;

    h1 {
      flex-grow: 1;
    }
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #2c3deeff;
  color: white;
  margin-top: 2rem;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  gap: 5rem;
  margin: 0 auto;
}

@media (width > 900px) {
  .page-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.sidebar {
  margin-top: 1.25rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1rem;
  align-self: start;

  h2 {
    border-bottom: 1px solid blue;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  a {
    text-decoration: none;
    color: blue;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    transition: 0.3s;

    &:hover {
      color: rgb(89, 88, 88);
      font-size: large;
    }
  }
}

@container main-container (min-width: 500px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container main-container (min-width: 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
q

@container aside-container (max-width: 200px) {
  .sidebar {
    text-align: center;
    padding: 0.5rem;
    background-color: white;
  }
}
