@layer layout;

header {
  display: flex;
  justify-content: center;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;

    h1 {
      flex-grow: 1;
    }
  }
}

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

@media (width > 900px) {
  .page-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

