@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  opacity: 0;
  animation: fade-in 1s ease-out forwards;

  & * {
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;

    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
  }

  .card-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
    transform: scale(1);

    &:hover {
      filter: grayscale(0);
      transform: scale(1.05);
    }
  }
}
